    <!DOCTYPE html>
    <html>
    <head>
    <title>LGBT Flag - SchemeColor.com</title>
    <style>
    body {padding: 0px; margin: 0; text-align: center; font-family: Arial; font-size: 13px; line-height: 160%;} 
    table {width: 100%; border: none; border-collapse: collapse;}
    table td {padding: 120px 20px;}
    </style>
    </head>
    <body>
    <h2>LGBT Flag</h2>
    <table>
    <tr>
    
    <td bgcolor=#e70000>HEX Code: #e70000<br />RGB Code: (231, 0, 0)</td>
    
    <td bgcolor=#ff8c00>HEX Code: #ff8c00<br />RGB Code: (255, 140, 0)</td>
    
    <td bgcolor=#ffef00>HEX Code: #ffef00<br />RGB Code: (255, 239, 0)</td>
    
    <td bgcolor=#00811f>HEX Code: #00811f<br />RGB Code: (0, 129, 31)</td>
    
    <td bgcolor=#0044ff>HEX Code: #0044ff<br />RGB Code: (0, 68, 255)</td>
    
    <td bgcolor=#760089>HEX Code: #760089<br />RGB Code: (118, 0, 137)</td>
        </tr>
    </table>
    <br />
    <p>Source: <a href=https://www.schemecolor.com/lgbt-flag-colors.php>https://www.schemecolor.com/lgbt-flag-colors.php</a></p>
    </body>
    </html>
