/* Coolors Exported Palette - coolors.co/2e84f1-08090a-1e1f20-acadad-fcfcfc */

/* HSL */
$color1: hsla(214%, 87%, 56%, 1);
$color2: hsla(210%, 11%, 4%, 1);
$color3: hsla(210%, 3%, 12%, 1);
$color4: hsla(180%, 1%, 68%, 1);
$color5: hsla(0%, 0%, 99%, 1);

/* RGB */
$color1: rgba(46, 132, 241, 1);
$color2: rgba(8, 9, 10, 1);
$color3: rgba(30, 31, 32, 1);
$color4: rgba(172, 173, 173, 1);
$color5: rgba(252, 252, 252, 1);