/* Coolors Exported Palette - coolors.co/001622-005986-5ca9d1-d0e6f2-0079b8 */

/* HSL */
$color1: hsla(201%, 100%, 7%, 1);
$color2: hsla(200%, 100%, 26%, 1);
$color3: hsla(201%, 56%, 59%, 1);
$color4: hsla(201%, 57%, 88%, 1);
$color5: hsla(201%, 100%, 36%, 1);

/* RGB */
$color1: rgba(0, 22, 34, 1);
$color2: rgba(0, 89, 134, 1);
$color3: rgba(92, 169, 209, 1);
$color4: rgba(208, 230, 242, 1);
$color5: rgba(0, 121, 184, 1);