/* Coolors Exported Palette - coolors.co/0d0106-f800b9-7e12f5-3f26b2-0079b8 */

/* HSL */
$color1: hsla(335%, 86%, 3%, 1);
$color2: hsla(315%, 100%, 49%, 1);
$color3: hsla(269%, 92%, 52%, 1);
$color4: hsla(251%, 65%, 42%, 1);
$color5: hsla(201%, 100%, 36%, 1);

/* RGB */
$color1: rgba(13, 1, 6, 1);
$color2: rgba(248, 0, 185, 1);
$color3: rgba(126, 18, 245, 1);
$color4: rgba(63, 38, 178, 1);
$color5: rgba(0, 121, 184, 1);