/* Coolors Exported Palette - coolors.co/f800b9-0f0a0a-100007-3f26b2-0079b8 */

/* HSL */
$color1: hsla(315%, 100%, 49%, 1);
$color2: hsla(0%, 20%, 5%, 1);
$color3: hsla(334%, 100%, 3%, 1);
$color4: hsla(251%, 65%, 42%, 1);
$color5: hsla(201%, 100%, 36%, 1);

/* RGB */
$color1: rgba(248, 0, 185, 1);
$color2: rgba(15, 10, 10, 1);
$color3: rgba(16, 0, 7, 1);
$color4: rgba(63, 38, 178, 1);
$color5: rgba(0, 121, 184, 1);