/* Coolors Exported Palette - coolors.co/2e84f1-1e1f20-f35747-9ebe11-8ba417 */

/* HSL */
$color1: hsla(214%, 87%, 56%, 1);
$color2: hsla(210%, 3%, 12%, 1);
$color3: hsla(6%, 88%, 62%, 1);
$color4: hsla(71%, 84%, 41%, 1);
$color5: hsla(71%, 75%, 37%, 1);

/* RGB */
$color1: rgba(46, 132, 241, 1);
$color2: rgba(30, 31, 32, 1);
$color3: rgba(243, 87, 71, 1);
$color4: rgba(158, 190, 17, 1);
$color5: rgba(139, 164, 23, 1);