/* Coolors Exported Palette - coolors.co/a2cee5-0079b8-004265-454372-2f2963 */

/* HSL */
$color1: hsla(201%, 56%, 77%, 1);
$color2: hsla(201%, 100%, 36%, 1);
$color3: hsla(201%, 100%, 20%, 1);
$color4: hsla(243%, 26%, 35%, 1);
$color5: hsla(246%, 41%, 27%, 1);

/* RGB */
$color1: rgba(162, 206, 229, 1);
$color2: rgba(0, 121, 184, 1);
$color3: rgba(0, 66, 101, 1);
$color4: rgba(69, 67, 114, 1);
$color5: rgba(47, 41, 99, 1);